/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Open Sans', sans-serif;
}

/* class uguali  */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pad-top {
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
i {
    font-weight: 900;
}

ul li {
    list-style: none;
}

/* header */

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

header div.fixed {
    z-index: 1;
    width: 100%;
    position: fixed;
    padding: 0 1rem;
    min-width: 1100px;
    background-color: white;
}

header div img {
    padding: 0 1rem;
    vertical-align: text-bottom;
}

.nav-header {
    width: auto;
}

div.nav-header li {
    display: inline;
    padding: 2rem 0;
}

a {
    color: black;
    padding: 0 1rem;
    text-decoration-line: none;
}

.btn {
    color: white;
    font-size: 1em;
    padding: 10px 2em;
    background-color: blue;
}

/* hover */

.dropdown-content {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    transition-duration: 1s;
    background-color: rgb(106, 160, 95);

}

div.nav-header li:hover {
    border-bottom: 1px solid black;
}

a.btn:hover,
a.btn-try:hover,
a.btn-partner:hover {
    transition-duration: 1s;
    background-color: rgb(16, 179, 233);
}



/* jumbotron */

section.bg-jumbotron {
    height: 600px;
}

.bg-lightblue {
    background-color: rgba(180, 208, 231, 255);
}

.container-jumbotron {
    width: 90%;
    margin: 0 auto;
    min-width: 850px;
    max-width: 1300px;
}

div.info-jumbo {
    width: 35%;
}

div.img-jumbo {
    width: 65%;
}

div.img-jumbo img {
    width: 100%;
    max-height: 450px;
}

h1 {
    height: 8rem;
    font-size: 3.5rem;
}

div.btn-margin {
    margin: 1rem 0;
    padding-top: 10px;
}

div.info-jumbo,
div.img-jumbo {
    padding-top: 2rem;
}

.arrow-down {
    padding-top: 20px;
    font-weight: bold;
    font-size: x-large;
}

/* main */

.main-container {
    width: 80%;
    margin: 0 auto;
    min-width: 810px;
    max-width: 1000px;
}

/* titolo inziale della struttura con i radiobox */

h2 {
    font-size: 2rem;
}

#check2 {
    margin-left: 20px;
}

/* tre sezioni uguali della fattura */

div.lateral-bill {
    height: 800px;
    font-size: 14px;
    width: calc((100% / 3) - 2%);
}

div.lateral-bill,
div.contact {
    border: 1px solid black;
}

div.top-bill {
    text-align: center;
    border: 1px solid black;
}

div.bill {
    padding: 1rem;
}

.bill-center {
    margin: 0 3%;
}

span.month {
    font-size: 0.8rem;
    color: darkgrey;
}

div.lateral-bill p span a {
    color: blue;
}

div.bill ul li {
    padding: 0.5rem;
}

div.bill ul li i {
    color: blue;
}

div.row-grey {
    width: 50px;
    margin: 1rem 0.5rem;
    border: 1px solid lightgrey;
}

/* padding per le varie tabelle */

div.top-bill div.bill div.contact,
h5,
h4,
h3,
p,
a,
span {
    padding: 0.5rem;
}

/* tabella enterprise */

div.info-contact {
    width: 75%;
}

p.info-enterprise {
    font-size: 12px;
}

div.btn-contact {
    width: 25%;
    font-size: 12px;
}


/* immagine partner */

div.pad-left {
    padding-left: 2rem;
}

a.btn-partner {
    color: black;
    font-size: 15px;
    margin-left: 0.5rem;
    background-color: white;
    border: 1px solid black;
}


/* cards */

div.cards {
    width: calc((100% / 3) - 2%);
}

div.card-middle {
    margin: 0 3%;
}

div.cards img {
    width: 100%;
}

div.cards span {
    padding: 0;
    text-decoration-line: underline;
}

div.info-client,
div.info-client a {
    color: blue;
    padding: 2rem 0;
    text-decoration-line: underline;
}

/* immagini di vari team */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

section.multi-designit {
    width: 100%;
    height: 350px;
    min-width: 900px;
}

div.group-designit {
    height: 100%;
    width: calc(60% / 2);
}

div.info-designit {
    width: 40%;
    height: 100%;
    padding: 2em;
    overflow: auto;
    font-weight: 600;
    background-color: rgba(245, 245, 245, 255);
}

div.info-designit .logo-designit {
    width: 30%;
}

div.bg-img-designit {
    width: 50%;
    height: 50%;
}

div.bg-img-designit img,
div.bottom-designit {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.bg-img-designit img {
    width: 50%;
    filter: invert();
}

/* background color designit */

.bg-designit {
    background-color: rgba(162, 211, 155, 255);
}

.bg-arizona {
    background-color: rgba(97, 8, 43, 255);
}

.bg-florida {
    background-color: rgba(0, 147, 206, 255);
}

.bg-topps {
    background-color: rgba(255, 28, 28, 255);
}

.bg-clear-chanel {
    background-color: rgba(255, 216, 48, 255);
}

.bg-bycicle {
    background-color: rgba(213, 0, 31, 255);
}

.bg-planet {
    background-color: rgba(13, 36, 129, 255);
}

/* sezione prova gratuita */

section.take-dropbox {
    width: 100%;
    height: 250px;
    min-width: 750px;
}

div.bottom-designit {
    width: 80%;
}

.btn-try {
    float: right;
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid transparent;
}

div.info-bottom-des {
    width: 60%;
    color: rgba(97, 8, 43, 255);
}

div.btn-bottom-des {
    width: 40%;
}

/* sezione domande */

div.drop-question ul li {
    padding: 2rem 0;
    border-top: 1px solid black;
}

div.drop-question ul li i {
    margin-right: 40px;
}

/* hover domande */

div.drop-question ul li p {
    display: none;
    padding-top: 1rem;
}

div.drop-question ul li:hover p {
    display: block;
    background-color: cornsilk;
}

div.drop-question:last-child {
    border-bottom: 1px solid black;
}

/* footer */

footer {
    color: white;
    margin-top: 100px;
    height: 500px;
    background-color: black;
}

div.footer-list {
    width: 20%;
    height: 250px;
}

div.footer-list h4 {
    padding: 1rem 0;
}

div.footer-list li {
    padding-top: 0.5rem;
}

.earth {
    font-size: small;
    color: grey;
    border-top: 1px solid white;
}


/* hover */

div.footer-list li:hover {
    cursor: pointer;
    text-decoration-line: underline;
}