/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class uguali  */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

body {
    min-width: 1000px;
    max-width: 1500px;
    font-family: sans-serif;
}



/* header */

header {
    width: 100%;
    line-height: 80px;
}

header div img {
    vertical-align: middle;
    padding-left: 1rem;
}

.nav-header {
    width: auto;
}

div.nav-header li {
    display: inline;
    text-align: center;
}

a {
    color: black;
    font-weight: bold;
    padding: 0 1rem;
    text-decoration-line: none;
}

.btn {
    display: inline;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 1em;
}

/* jumbotron */