/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Open Sans', sans-serif;
}

/* class uguali  */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pad-top {
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
i {
    font-weight: 900;
}

/* header */

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

header div.fixed {
    width: 100%;
    min-width: 1030px;
    position: fixed;
    background-color: white;
}

header div img {
    padding-left: 1rem;
    vertical-align: text-bottom;
}

.nav-header {
    width: auto;
}

div.nav-header li {
    display: inline;
    text-align: center;
}

a {
    color: black;
    padding: 0 1rem;
    text-decoration-line: none;
}

.btn {
    color: white;
    font-size: 1em;
    padding: 10px 1em;
    background-color: blue;
}

/* jumbotron */

section.bg-lightblue {
    height: 500px;
    background-color: rgba(180, 208, 231, 255);
}

section div.container-jumbotron {
    width: 90%;
    margin: 0 auto;
    min-width: 850px;
    max-width: 1100px;
}


div.info-jumbo {
    width: 35%;
}

div.img-jumbo {
    width: 65%;
}

div.img-jumbo img {
    width: 100%;
    max-height: 350px;
}

h1 {
    font-size: 3rem;
}

div.btn-margin {
    margin: 1rem 0;
    padding-top: 10px;
}

div.info-jumbo,
div.img-jumbo {
    padding-top: 2rem;
}

.arrow-down {
    font-weight: bold;
    font-size: x-large;
    padding-top: 20px;
}

/* main */

.main-container {
    width: 80%;
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
}

/* titolo inziale della struttura con i radiobox */

h2 {
    font-size: 2rem;
}

#check2 {
    margin-left: 20px;
}

/* tre sezioni uguali della fattura */

div.lateral-bill {
    border: 1px solid black;
    height: 600px;
    font-size: 14px;
    width: calc(96% / 3);
    overflow: hidden;
}

div.lateral-bill div.top-bill {
    border: 1px solid black;
    text-align: center;
}

div.bill {
    padding: 1rem;
}

.bill-center {
    margin: 0 1rem;
}

.pad-min {
    padding: 0.5rem;
}

span.month {
    font-size: 0.8rem;
    color: darkgrey;
}

div.lateral-bill p span a {
    color: blue;
}

div.bill ul li {
    list-style: none;
    padding: 0.5rem;
}

div.bill ul li i {
    color: blue;
}

hr.row-grey {
    width: 20%;
    color: grey;
    margin: 1rem 0.5rem;
}